In [3]:
import sqlite3
 
conn = sqlite3.connect('SalesDBNew.db')

 
cursor = conn.cursor()
cursor.execute("SELECT * FROM Supermarket_sales ORDER BY Unitprice LIMIT 1;")


print(cursor.fetchall())
  
conn.commit()
conn.close()

[('10', '692-92-5582', 'B', 'Mandalay', 'Member', 'Female', 'Food and beverages', '3', '144', '7445', '13:27', 'Credit card', '164.52', '4.761904762', '8.226', '5.9', '0')]

In [4]:
import sqlite3
 
conn = sqlite3.connect('SalesDBNew.db')

 
cursor = conn.cursor()
cursor.execute("SELECT * FROM Supermarket_sales ORDER BY Quantity LIMIT 1;")


print(cursor.fetchall())
  
conn.commit()
conn.close()

[('27', '649-29-6775', 'B', 'Mandalay', 'Normal', 'Male', 'Fashion accessories', '1', '627', '2314', '15:31', 'Cash', '33.52', '4.761904762', '1.676', '6.7', '52')]

In [5]:
import sqlite3
 
conn = sqlite3.connect('SalesDBNew.db')

 
cursor = conn.cursor()
cursor.execute("SELECT * FROM Supermarket_sales ORDER BY Quantity DESC LIMIT 1;")


print(cursor.fetchall())
  
conn.commit()
conn.close()

[('30', '848-62-7243', 'A', 'Yangon', 'Normal', 'Male', 'Health and beauty', '9', '703', '8890', '15:36', 'Cash', '224.01', '4.761904762', '11.2005', '7.4', '1')]

In [6]:
import sqlite3
 
conn = sqlite3.connect('SalesDBNew.db')

 
cursor = conn.cursor()
cursor.execute("SELECT * FROM Supermarket_sales WHERE Productline = 'Health and Beauty' ORDER BY Quantity LIMIT 1;")


print(cursor.fetchall())
  
conn.commit()
conn.close()

[]

In [7]:
import sqlite3
 
conn = sqlite3.connect('SalesDBNew.db')

 
cursor = conn.cursor()
cursor.execute("SELECT * FROM Supermarket_sales WHERE Productline = 'Health and Beauty' ORDER BY Quantity DESC LIMIT 1;")


print(cursor.fetchall())
  
conn.commit()
conn.close()

[]